.auth-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.switch-login {
    position: fixed;
    bottom: 0;
    right: 0;
}

.form-container {
    width: 50vmin;
}