:root {
  --white: #FFFFFF;
  --black: #000000;
  --grey-1: #636363;
  --grey-2: #E5E5E5;
  --orange: #FF6C00;
  --text-light: #636363;
  --text-dark: #000000;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--orange);
}

h1 {
  font-family: 'Opposit';
  font-weight: normal;
}

title {
  display: inline;
  font-family: 'Opposit';
  font-weight: normal;
  font-size: 7vw;
}

h2 {
  font-weight: normal;
  font-size: max(3vw, 1.5em);
  margin-top: 30px;
}

body {
  margin: 0;
  font-family: 'Pangram', 'Helvetica Neue';
  font-size: 1.5vmin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../images/background-noise.png');
  background-color: rgba(0, 0, 0, 0.1);
  animation: .2s infinite noise;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.shadow {
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.13); 
  -moz-box-shadow:    2px 2px 8px 0px rgba(0, 0, 0, 0.13); 
  box-shadow:         2px 2px 8px 0px rgba(0, 0, 0, 0.13); 
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 3fr;
  row-gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 2vmin;
  font-size: 2vmin;
  border: none;
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  background-color: var(--grey-2);
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  padding: 2vmin;
  color: var(--orange);
  background-color: transparent;
  font-size: 2.5vmin;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .7vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  color: var(--grey-1);
  cursor: not-allowed;
  background-color: transparent;
}

button.btn-sm:disabled {
  color: var(--grey-1);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

.movie-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  border-radius: .7vmin;
  margin-bottom: 10px;
  padding: 5px;
  transition: all .2s ease-in-out;
}

.movie-container-your-nominations {
  background-color: var(--orange);
}

.movie-container-your-nominations:hover {
  transform: scale(1.03);
  --webkit-transform: scale(1.03, 1.03);
  transition: ease 500ms;
  cursor: pointer;
}

.movie-container-search {
  background-color: var(--grey-2);
}

.movie-container-search-results {
  background-color: var(--white);
}

.movie-container-search-results:hover {
  transform: scale(1.03);
  --webkit-transform: scale(1.03, 1.03);
  transition: ease 500ms;
  cursor: pointer;
}

.movie-date {
  color: var(--grey-1);
}

.search-input {
  width: 40vw;
  height: 100%;
  font-size: 1.5vmin;
  font-family: 'Pangram';
  border: none;
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  background-color: var(--grey-2);
  outline: none;
  padding: 4px;
}

#container {
  display: flex;
  height: 100vh;
  width: 200vw;
  position: fixed;
  transition: 1000ms ease;
}

.container-intro {
  left: 0;
}

.container-enter {
  left: -100vw;
}

@media screen and (max-width: 900px) {

  body {
    font-size: 3vmin;
  }

  .search-input {
    font-size: 3vmin;
  }

  #container {
    flex-direction: column;
    height: 200vh;
    width: 100vw;
  }

  .container-intro {
    left:0;
    top: 0;
  }
  
  .container-enter {
    left:0;
    top: -100vh;
  }

  .search-input {
    width: 80vw;
  }

  .movie-container {
    width: 70vw;
  }

  input {
    font-size: 4vmin;
    padding: 3vmin;
  }

  button, a.button {
    padding: 3vmin;
    font-size: 4.5vmin;
  }


}




@keyframes noise {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

.fade-in {
  -webkit-animation: fade-in 500ms ease-in-out;
  animation: fade-in 500ms ease-in-out;
}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: .9; }
}
@-moz-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: .9; }
}
@-o-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: .9; }
}
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: .9; }
}

.fade-out {
  -webkit-animation: fade-out 500ms ease-in-out;
  animation: fade-out 500ms ease-in-out;
}

@-webkit-keyframes fade-out {
  0% { opacity: .9; }
  100%   { opacity: 0; }
}
@-moz-keyframes fade-out {
  0% { opacity: .9; }
  100%   { opacity: 0; }
}
@-o-keyframes fade-out {
  0% { opacity: .9; }
  100%   { opacity: 0; }
}
@keyframes fade-out {
  0% { opacity: .9; }
  100%   { opacity: 0; }
}