

.search-movies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    padding: 10px;
    overflow: auto;
    border-right: .1vmin solid var(--white);
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url('../../images/landing-noise.png');
    animation: .2s infinite noise;
    padding: 0;
}

.my-nominations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    padding: 10px;
    overflow: auto;
    border-left: .1vmin solid var(--white);
    background: linear-gradient(rgba(255,255,255,.91), rgba(255,255,255,.91)), url('../../images/landing-noise.png');
    animation: .2s infinite noise;
    padding: 0;
}


@media screen and (max-width: 900px) {
    .search-movies {
        width: 100vw;
        height: 50vh;
    }

    .my-nominations {
        width: 100vw;
        height: 50vh;
    }
}