.search-movies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    padding: 10px;
    background-color: var(--grey-2);
    overflow: auto;
    border-right: .1vmin solid var(--white);
}

.my-nominations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    padding: 10px;
    background-color: var(--grey-2);
    overflow: auto;
    border-left: .1vmin solid var(--white);
}


@media screen and (max-width: 900px) {
    .search-movies {
        width: 100vw;
        height: 50vh;
    }

    .my-nominations {
        width: 100vw;
        height: 50vh;
    }
}