@font-face {
  font-family: 'Pangram';
  font-style: normal;
  font-weight: normal;
  src:    url("./fonts/Pangram-Regular.otf") format("opentype"),
          url("./fonts/Pangram-Regular.woff") format("woff"),
          url("./fonts/Pangram-Regular.eot") format("embedded-opentype");
}

@font-face {
  font-family: 'Opposit';
  font-style: normal;
  font-weight: normal;
  src:    url("./fonts/GTFOpposit-Regular.otf") format("opentype"),
          url("./fonts/GTFOpposit-Regular.otf") format("woff"),
          url("./fonts/GTFOpposit-Regular.otf") format("embedded-opentype");
}


body {
  margin: 0;
  font-family: 'Pangram', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
